.header-box{
  width: 100%;
  @include flex-sbc;

  padding: 1rem 2rem;
  background-color:#fff5f5;
  @include bodyText;

  margin-bottom: 1rem;

  .title{
    @include h3(#232323, 700);
  }

  .all-emp-btn{
    margin: 0 5rem 0 auto;
    @include btn(var(--blue-6), #fff);
    border-radius: var(--border-radius);
  }

  .acc-info{
    @include flex-cc(column);

    .sign-out-btn{
      @include btn(var(--blue-6), #fff);
      border-radius: var(--border-radius);
      padding: .5rem 2rem ;
    }
  }

}