.add-dept-form {
  @include flex-cc(column);
  gap: 2rem;

 

  select,
  .error {
    padding: 1rem;
    min-width: 35rem;
    @include bodyText();
    border-radius: var(--border-radius);
  }

  select {
    outline: none;
    border: .2rem solid var(--ip-border-placeHolder-clr);

    &::placeholder {
      @include bodyText(var(--ip-border-placeHolder-clr));
    }
  }

  .error {
    background-color: var(--red-0);
    color: var(--red-6);
  }

  .submit-btn{
    @include btn(var(--blue-6), #fff);
    width: 20rem;
    border-radius: var(--border-radius);
  }
}